
body {
	  
}

h1 { text-align: center;
	font-family: helvetica,sans-serif;
	text-decoration: line-through;

}

h2{ 
}


h3 {

}



p {
	t
}

ul {

	
	

}
li {
	
}
picture {
	text-align: center;
}